<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ede.pg.liqrtiqr" version="1.0"
     xmlns="http://www.w3.org/ns/widgets" 
     xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LiqrTiqr</name>

    <description>
        LiqrTiqr v2
    </description>

    <author href="http://www.thisislabel.co.uk" email="ben.ede@gmail.com">
        Ben
    </author>

    <content src="index.html" />
    <access origin="*" />

    

</widget>
